<head></head>
<body>
	<div>
	<span style="color: #F44242; font-family: helvetica; font-size: 220%; text-decoration: underline;">Currency Rates</span>
	</div>
<div>&nbsp;
</div>
<div>
<table style="width: 480px; border-style: solid; border-color: #000000;">
<tbody>
<tr>
<td>
	<span style="color: black; font-family: helvetica; font-size: 120%;">Great Britsh Pound £:</span>&nbsp;</td>
<td style="width: 50%; text-align: right;">
	<span style="color: black; font-family: helvetica; font-size: 100%;"> ${{gdp}} </span> 
</td>
</tr>
<tr>
<td><span style="color: black; font-family: helvetica; font-size: 120%;">Euro €:</span> &nbsp;
</td>
<td style="width: 50%; text-align: right;">
	<span style="color: black; font-family: helvetica; font-size: 100%;"> ${{ euro }} </span>
	 </td>
</tr>
<tr>
	<td><span style="color: black; font-family: helvetica; font-size: 120%;">Swiss Franc:</span> &nbsp;
	</td>
	<td style="width: 50%; text-align: right;">
		<span style="color: black; font-family: helvetica; font-size: 100%;"> ${{ chf }} </span>
		 </td>
</tr>
<tr>
		<td><span style="color: black; font-family: helvetica; font-size: 120%;">Danish Kronen:</span> &nbsp;
		</td>
		<td style="width: 50%; text-align: right;">
			<span style="color: black; font-family: helvetica; font-size: 100%;"> ${{ dkk }} </span>
			 </td>
</tr>
</tbody>
</table>
<div>&nbsp;
</div>
</body>

